body {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 32px;

  text-align: center;
}

button {
  font-size: 16px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  margin: 5rem 0;
  height: 450px;
  width: 450px;
  border: 6px solid black;
  border-radius: 12px;
}

.display {
  margin: 16px;
  height: 48px;
  border: 6px solid black;
  text-align: right;
}

.display p {
  font-size: 16px;
  margin-right: 8px;
  font-weight: bold;
}

.button-container {
  display: flex;
}

.number-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.number-button {
  width: 100px;
  height: 50px;
  margin: 10px;
  border: 1px solid black;
}

.operator-button-container {
  display: flex;
  flex-direction: column;
}

.operator-button {
  width: 50px;
  margin: 10px;
  height: 50px;
}
