body {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 32px;

  text-align: center;
}

button {
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: rgb(179, 183, 183);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 400px;
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px;
}

.display {
  margin: 16px;
  height: 48px;
  border: 6px solid black;
  text-align: right;
}

.display p {
  font-size: 16px;
  margin-right: 8px;
  font-weight: bold;
}

.top-buttons-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 10px;
}

.top-buttons-grid button {
  padding: 25px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.btn {
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
}
